*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: hsl(225, 55%, 28%);
    --secondary-color: hsl(27, 91%, 55%);

    --black-light: hsl(206, 9%, 16%);

    --primary-color-light: hsl(180, 12%, 97%);
}

body{
    font-family: 'Poppins', sans-serif;    
}

/*
.slider{
    margin: 0 auto;
    width: 100%;
    height:100vh;

    overflow: hidden;
}
*/

.slider{
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;

    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.slider .slides .content-text{
    position: absolute;      

    width: 700px;
    height: 100%;

    padding-inline: 5rem;
    justify-content: center;
    
    background-color: #20336D;

    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.slider .slides .content-text .text{
    margin-block: 9rem;
    margin-bottom: 2rem;
}

h4{
    top: 50%;
    font-size: 1rem;
    font-weight: 500;
    color: #fafafa;
}

h1{
    font-size: 3.2rem;
    font-weight: 600;
    color: orange;
}

button{
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    background-color: blue;

    border: none;
    border-radius: 0.2rem;

    cursor: pointer;
    
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -3.9rem;
    display: flex;
    justify-content: center;
}

.manual-btn{
    width: 20px;
    height: 20px;
    
    border: 2px solid #ffffff;
    transform: rotate(45deg);

    border-radius: 10%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #ffffff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    width: 20px;
    height: 20px;
    
    transform: rotate(45deg);
    border: 2px solid #ffffff;
    
    border-radius: 10%;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    margin-top: 83.2vh;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3,
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #ffffff;
}

